{% extends 'collage/base.html' %}



{% block content %}
    {% load static %}
    <script type="text/javascript" src="{% static  'collage/jquery-3.4.0.js' %}"></script>
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#collage_form').submit(function () { // catch the form's submit event
                $.ajax({ // create an AJAX call...
                    data: $(this).serialize() + "&query_type=" + "collage_launch", // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: $(this).attr('action'), // the file to call
                    success: function (data_celery_url) { // on success..
                        var progressUrl = data_celery_url;
                        CeleryProgressBar.initProgressBar(progressUrl)
                    }
                });
                return false;
            });
        })
    </script>


    <form id="collage_form" action="{% url 'collage:input' %}" method="post">
        {% csrf_token %}
        <table>
            {{ collage_input.as_table }}
        </table>
        <input id="submit" type="submit" value="Создать">
    </form>

    <div class='progress-wrapper'>
        <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
    </div>
    <div id="progress-bar-message"></div>

    <div id="some_text">
        {% if  some_text %}
            {{ some_text }}
        {% else %}

        {% endif %}

    </div>


    {#----------------JAVASCRIPT---------------------------------------#}
    <script>

        $(document).ready(function () {
            $("#spinner").css("-webkit-animation-play-state", "paused");
            $("#spinner").css("display", "none");
        })

        $('#submit').click(function () {
            //alert('clicked')
            $("#spinner").css("-webkit-animation-play-state", "running");
            {#$("#spinner").show()#}
            //$("#some_text")[0].textContent += 'xx'
        })

        function myPeriodicMethod() {
            $.ajax({
                type: "POST",
                url: "{% url 'collage:input' %}",
                data: {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    query_type: 'poll'
                },
                success: function (data) {
                    $("#some_text")[0].textContent += '.'
                    //alert('Now and then')
                },
                complete: function () {
                    // schedule the next request *only* when the current one is complete:
                    //setTimeout(myPeriodicMethod, 200);
                }
            });
        }


    </script>


{% endblock %}
